# ----------------------------
# .NET
# ----------------------------
bin/
obj/
.vs/
*.user
*.suo
*.rsuser

# ----------------------------
# Node / React Native / Expo
# ----------------------------
node_modules/
.expo/
dist/
web-build/
*.log
android/

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
venv/
.env

# ----------------------------
# OS / Editor
# ----------------------------
.DS_Store
.vscode/
.idea/